<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/logo3.jpg">
    <title>Cerovic Web Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Veljko Cerovic" />
	<meta name="description" content="Freelance Web Designer and Developer from Serbia. Very experienced in designing and developing web sites. " />
	<meta name="keywords"  content="Veljko Cerovic, Cerovic Web Studio, Web Designer and Web Developer, web designer,web developer, web development, i need a website" />
	<meta name="Resource-type" content="Document" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css" />
	<link href="https://fonts.googleapis.com/css?family=Paytone+One|Saira:200,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="/stylesheets/hover.css" rel="stylesheet" media="all">
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</head>
<body>
    
		<main>	
				<div class="content content--canvas">
					
				</div>
			</main>
    <header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap  animated bounceInLeft specLogo">
				<a href="/en" class="hover-target hvr-buzz-out"><span></span>cera</a>
			</div>
			<div class="nav-but-wrap">
				<div class="menu-icon hover-target">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>
					
	</header>

	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item <%= typeof page !== 'undefined' && page === 'home' ? 'active-nav' : '' %>"><a href="/en" class="hover-target">home</a></li>
				<li class="nav__list-item <%= typeof page !== 'undefined' && page === 'portfolio' ? 'active-nav' : '' %>"><a href="/en/portfolio" class="hover-target">portfolio</a></li>
				<li class="nav__list-item <%= typeof page !== 'undefined' && page === 'about' ? 'active-nav' : '' %>"><a href="/en/about" class="hover-target">about</a></li>
				<li class="nav__list-item <%= typeof page !== 'undefined' && page === 'contact' ? 'active-nav' : '' %>"><a href="/en/contact" class="hover-target">contact</a></li>
			</ul>
		</div>
	</div>		

	<!-- <div class="section full-height over-hide">	

    </div>	 -->
	<div class='cursor' id="cursor"></div>
	<div class='cursor2' id="cursor2"></div>
	<div class='cursor3' id="cursor3"></div>
	<div class="container specCon ">
		<div class="row d-flex justify-content-center animated zoomInDown">

				<h1 id="conh1">About Me</h1>
		  <div class="w-100"></div>
	
				<h3 class="text-center text-light mt-2 aboutText">Hi I'm Veljko Cerovic</h3>
				<div class="w-100"></div>
				<h6 class="text-center text-light aboutText">Full-Stack Web Developer</h6>
		</div>
		
		<div class="containerSpec  container animated fadeInRight descAbout">
			<p class="mt-3 text-center ">We offer you professional website development using the latest technologies.I will make your business grow.
                i am happy to improve other people business with  creativity and knowledge
                i am perfectionist when we talk about making web sites you can count on that.
                If you wanna see my other works <strong><a href="/en/portfolio" class="hvr-grow linkPORT">click here.</a></strong></p>
	</div>

        


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/noise.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/swirl.js"></script>
<script src="/js/demo.js"></script>
<script src="/js/main.js"></script>
</body>
</html>